a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

*, *::before, *::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

.content-box-component {
	box-sizing: content-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border:0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button {
	background-color: transparent;
	border: none;
}

.conteiner {
	width: 1000px;
	margin: 0 auto;
}